.container
  .profile
    .clearfix
      .profile__name-job.col-sm-4
        .row
          %h1.profile__name
            Ryosuke Maehira
          %p.profile__job
            デザイナー / フロントエンドエンジニア
      .col-sm-8
        .profile__image
          = image_tag image_url('profile.jpg'), class: "img-responsive"
    %p.profile__greeting
      どこでも行きていける最強に人間を目指し、大学生活の大半を旅に捧げる。
      %br/
      ひとしきり心身を鍛え、あとは社会的に生き抜く力が必要だと感じ、エンジニアを志す。
      %br/
      現在は株式会社divにて、TECH::CAMPのデザイナーとして活動しながら、渋谷界隈でデザイナーとして活動している。
      %br/
      趣味は、旅と料理と古着と風呂敷。
    %p.profile__skills
      Skills:
      %br/
      html5 / css3 / Javascript / Ruby on Rails
      %br/
      Illustrator, Photoshop
    .profile__contacts
      = link_to "Twitter@ryosuke-hima", "https://twitter.com/tabi_ryosuke", class: "profile__contacts--twitter", target: "blank"
      %p.profile__contacts--email
        Email: wwwandering.jp@gmail.com

