header {
  height: $header_height;
  background-color: $header_color;
}

.navbar h1 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: $header_height;
  color: #FFF;
}

.navbar-header {
  &__right .link {
    float: right;
    margin-left: 20px;
    line-height: $header_height;
  }
  &__right ul li a {
    color: #FFF;
  }
}
