.container
  %input{:type => "text", class: "hoge", id: 'title'}/
  -# %input{:type => "text", class: "hoge", id: 'editor'}/
  %textarea{:name => "asd", :cols => "30", :rows => "10", class: 'hoge', id: 'editor'}

  #title-result
  #result
