.page-header
  .container
    %h1.page-header__title
      今まで作ったもの
      -# %span.sub-title
      -#   portfolio
.works-container.clearfix
  - @works.each do |work|
    = render partial: "works/project", locals: { work: work }
