.container
  .page-header
    %h1.page-header__title
      今まで作ったもの
  .works-container
    %section.works-projects
      %h2.section-title プロジェクト
      - @works.each do |work|
        = render partial: "works/project", locals: { work: work }
    %section.works-bannar
