/* new */

#title-result {
  height: 20px;
  border: 1px solid $main_color;
}

#result {
  height: 200px;
  border: 1px solid $main_color;
}

/* index */

.article-card {
  padding-top: $space_normal;
  padding-bottom: $space_normal;
  &__category {
    color: $text_color_bright;
  }
  &__title {
    margin-right: 2rem;
    font-size: 2.4rem;
    font-weight: bold;
  }
  &__date {
    color: $text_color_bright;
    font-size: 1.2rem;
  }
}

/* show */

.article_header {
  padding-top: $space_wide;
  padding-bottom: $space_wide;
  border-bottom: 1px solid $border_color;
  margin-bottom: $space_wide;
  &__category {
    color: $text_color_bright;
  }
  &__title {
    font-size: 3.2rem;
    font-weight: bold;
  }
  &__date {
    color: $text_color_bright;
    font-size: 1.2rem;
  }
}
