/*.profile {
  &__text-info {
    margin-left: 20px;
  }
  &__thumbnail img {
    width: 100%;
  }
  &__label {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: -20px;
    margin-bottom: 0.3rem;
  }
  &__name {
    font-size: 2.4rem;
    font-weight: bold;
    margin-left: -20px;
    &__phonetics {
      color: $text_color_bright;
      font-size: 1.2rem;
    }
  }
  &__text {
    font-size: 1.4rem;
  }
  &__skills--small {
    font-size: 1.4rem;
  }
}

*/

.profile {
  padding-top: $space_wide*3;
      -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
  &__name {
    font-size: 2.4rem;
    color: #FFF;
    font-weight: bold;
    margin-bottom: $space_normal;
  }
  &__job {
    font-size: 1.4rem;
    color: #FFF;
    margin-bottom: $space_wide;
  }
  &__image {
    width: 80px;
    overflow: hidden;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 0px 0px 4px #000;
            box-shadow: 0px 0px 4px #000;
  }
  &__greeting {
    font-size: 1.4rem;
    color: #FFF;
    margin-bottom: $space_wide;
    line-height: 2;
  }
  &__skills {
    margin-bottom: $space_wide;
    color: #FFF;
  }
  &__contacts {
    &--twitter {
      color: #FFF;
    }
    &--email {
      color: #FFF;
    }
  }
}




@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
