.work__thumbnail {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.work {
  margin-bottom: $space_wide;
  &__caption {
    padding: $space_normal;
  }
  &__title {
    font-weight: bold;
  }
}
.works-container {
  .section-title {
    margin-right: 2rem;
    font-size: 2.4rem;
    margin-bottom: $space_normal;
  }
}
