$break_point_lg: 1200px;
$break_point_md: 992px;
$break_point_sm: 768px;
$break_point_xs: 378px;

$space_wide: 40px;
$space_normal: 20px;
$space_narrow: 10px;

$header_height: 60px;
$footer_height: 60px;
